html,
body {
  background-color: rgb(247, 247, 247) !important;
}

.main {
  padding-top: 4em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.docs-example {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px #ccc;
  padding: 1em;
  margin-top: 1em;
}
